@import url('https://fonts.googleapis.com/css?family=Concert+One%7CJura');

body, h1, h2, h3, h4, h5, h6, p{
    /*font-family: 'Concert One', cursive;*/
    font-family: 'Jura', sans-serif;

}

a, li, link{
    list-style-type: none;
    text-decoration: none;

}
